<form method="GET" action='/home'>
    <pre>Enter rolling resistance co-effcient value     <input type="number" step="0.00001" name="x1"> </pre> </br>
    <pre>Enter the weight of vehicle in kgs             <input type="number" step="0.00001" name="x2"> </pre> </br>
    <pre>Enter the weight of the person in kgs          <input type="number" step="0.00001" name="x3"> </pre> </br>
    <pre>Enter the air density value                    <input type="number" step="0.00001" name="x4"> </pre> </br>
    <pre>Enter the width of vehicle in mts              <input type="number" step="0.00001" name="x5"> </pre> </br>
    <pre>Enter the height of vehicle in mts             <input type="number" step="0.00001" name="x6"> </pre> </br>
    <pre>Enter the velocity of vehicle in kmph          <input type="number" step="0.00001" name="x7"> </pre> </br>
    <pre>Enter the co-efficient of air-drag             <input type="number" step="0.00001" name="x8"> </pre> </br>
    <pre>Enter the gadebilityvalue in degrees           <input type="number" step="0.00001" name="x9"> </pre> </br>
    click<input type='submit'>
</form>


